body {
    padding-top: 5rem;
}
.starter-template {
    padding: 0.3rem 1.5rem;
    text-align: center;
}

.logo_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/*.container {*/
/*    width: 70%;*/
/*    height: 200px;*/
/*    overflow: hidden;*/
/*}*/

/*.container img {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*    display: block;*/
/*}*/

/*.container {*/
/*    width: 200px;*/
/*    height: 150px;*/
/*    overflow: hidden;*/
/*}*/

/*.container > img {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/